
@{
    ViewData["Title"] = "Index";
}

<h1>About</h1>
<p style="width: 80%">The purpose of this small app is to demonstrate the use of multiple technologies in order to take advantage of the unique capabilities of each technology. VueJs was used to wrap
    the cylinder table allowing for easier manipulation of the DOM while ASP.NET Core with the Entity framework takes care of sending HTTP requests to a SQL database on Azure. The app was then published to 
    AzurePages through Microsoft Visual Studio. 
    <br />
    <br />
    The code for this site is avaliable on my GitHub account here <i class="bi bi-arrow-right"></i> <a target="_blank" href="https://github.com/HDover12/CylinderInventory">GitHub Repository</a>
     <br />
    <br />
    
</p>

