@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center" >
    <h1 class="display-4 mt-4">Welcome</h1>
    <p style="width: 60%; margin: 0 auto" > Welcome to my example inventory app. This app contains a list of gas cylinders, their contents and concentrations. The data listed herein is for demonstration purposes only does not reflect any real cylinders or inventory

    </p>
    <br />
    <a asp-controller="Cylinder" asp-action="Index" class="btn btn-primary">Go to Cylinder List</a>
</div>
