@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Welcome</h1>
    <br />
    <a asp-controller="Cylinder" asp-action="Index" class="btn btn-primary">Go to Cylinder List</a>
</div>
